@model IEnumerable<Menu_QRCode.Category>

@{
    ViewData["Title"] = "CategoriesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<p>
    <a asp-action="CreateCategory" class="btn" style="background-color:#cda45e; color:white">ایجاد</a>
</p>

<div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img style="width:100px; height:100px" src="@item.ImageUrl" class="menu-img" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        <a asp-action="UpdateCategory" asp-route-id="@item.Id">ویرایش</a> |
                        <a asp-action="DeleteCategory" asp-route-id="@item.Id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
